<template>
  <q-page>
    <q-card
      flat
      bordered
      class="row q-pl-md q-pb-md q-mt-md q-ml-md"
      style="width: 38rem"
    >
      <div
        class="col-12 q-pl-md q-pt-md text-subtitle2 text-italic text-primary"
      >
        Two lines of green text (13px normal, 24px bold) in divs, 35rem wide
      </div>
      <div
        class="col-12"
        style="width: 35rem; overflow-x: auto; white-space: nowrap"
      >
        <div class="q-pt-md q-px-md">
          <span class="table-text-1 q-pr-md"
            >The quick brown fox jumps over the lazy dog.</span
          >
        </div>
        <div class="q-px-md">
          <span class="table-text-2 q-pr-md"
            >The quick brown fox jumps over the lazy dog.</span
          >
        </div>
      </div>
    </q-card>
    <q-card
      flat
      bordered
      class="row q-pl-md q-pb-md q-mt-md q-ml-md"
      style="width: 38rem"
    >
      <div
        class="col-12 q-pl-md q-pt-md text-subtitle2 text-italic text-primary"
      >
        Two lines of green text (13px normal, 24px bold) in a q-table, 35rem
        wide
      </div>
      <div class="col-12 q-pt-md">
        <q-table
          hide-header
          hide-bottom
          flat
          dense
          :rows="rows"
          :columns="columns"
          style="width: 35rem"
        >
          <template v-slot:body="props">
            <q-tr>
              <q-td>
                <span
                  :class="props.row.isLarge ? 'table-text-2' : 'table-text-1'"
                  >{{ props.row.text }}</span
                >
              </q-td>
            </q-tr>
          </template>
        </q-table>
      </div>
    </q-card>
    <q-card
      flat
      bordered
      class="row q-pl-md q-pb-md q-mt-md q-ml-md"
      style="width: 38rem"
    >
      <div
        class="col-12 q-pl-md q-pt-md text-subtitle2 text-italic text-primary"
      >
        Two lines of green text (13px normal, 24px bold) in divs, 30rem wide
      </div>
      <div
        class="col-12"
        style="width: 30rem; overflow-x: auto; white-space: nowrap"
      >
        <div class="q-pt-md q-px-md">
          <span class="table-text-1 q-pr-md"
            >The quick brown fox jumps over the lazy dog.</span
          >
        </div>
        <div class="q-px-md">
          <span class="table-text-2 q-pr-md"
            >The quick brown fox jumps over the lazy dog.</span
          >
        </div>
      </div>
    </q-card>
    <q-card
      flat
      bordered
      class="row q-pl-md q-pb-md q-mt-md q-ml-md"
      style="width: 38rem"
    >
      <div
        class="col-12 q-pl-md q-pt-md text-subtitle2 text-italic text-primary"
      >
        Two lines of green text (13px normal, 24px bold) in a q-table, 30rem
        wide
      </div>
      <div class="col-12 q-pt-md">
        <q-table
          hide-header
          hide-bottom
          flat
          dense
          :rows="rows"
          :columns="columns"
          style="width: 30rem"
        >
          <template v-slot:body="props">
            <q-tr>
              <q-td>
                <span
                  :class="props.row.isLarge ? 'table-text-2' : 'table-text-1'"
                  >{{ props.row.text }}</span
                >
              </q-td>
            </q-tr>
          </template>
        </q-table>
      </div>
    </q-card>
  </q-page>
</template>

<style>
.table-text-1 {
  color: green;
  font-size: 13px;
  font-weight: 400;
}

.table-text-2 {
  color: green;
  font-size: 24px;
  font-weight: 700;
}
</style>

<script setup>
const columns = [{ label: 'Text', field: 'text', align: 'left' }];

const rows = [
  {
    text: 'The quick brown fox jumps over the lazy dog.',
    isLarge: false,
  },
  {
    text: 'The quick brown fox jumps over the lazy dog.',
    isLarge: true,
  },
];
</script>
